<body>

	<header id="header">
		<ul>
			<li><p>495 S Broadway, Hicksville, NY 11801</p></li>
			<!-- <li><img src="assets/logo-black.png" id=""></li> -->
			<li><a href="tel:5165957227">516-595-7227</a></li>
			<li><p>100% Certified Zabiha Halal</p></li>

		</ul>

	</header>


	<ul class="hide" id="nav">
		<li>MENU</li>
		<li>ABOUT US</li>
		<li>CONTACT</li>
		<li>GALLERY</li>
	</ul>


	<div class="hide" id='farm-div' style="background-image: url('assets/farm-back copy-a35cd4d087fc5774a4695911675077acd4e39054c33d648c674f63b89992cda0.jpg');">
		<img src="assets/logo-d1f2aafe8555e9ba2fcc99ab469dcc2ce49cfc9ea42016620d582b1aa0208bb6.png" id="logo">
		<h1>GRASSFED</h1>
		<h1>ORGANIC</h1>
		<h1>GMO FREE</h1>
		<h1>CAGE FREE</h1>
		<h1>HAND SLAUGHTERED</h1>

	<ul class="hide" id="button-list">
		<li>
			<p>Click here for our grill menu</p>
			<a href="grill_menu"><button id="restaurant-button">RESTAURANT</button></a>
		</li>

		<li>
			<p>Click here for our meat shop menu</p>
			<a href="meat_menu"><button id="meat-button">MEAT SHOP</button></a>
		</li>
	</ul>

	

	<!-- 	<p class="farm-div-details">495 S Broadway, Hicksville, NY 11801</p>
		<p class="farm-div-details">516-595-7227</p>
		<p class="farm-div-details">Mon-Thurs: 10am - 10pm</p>
		<p class="farm-div-details">Fri & Sat: 10am - 12pm</p>
		<p class="farm-div-details">100% Certified Zabiha Halal</p>

 -->
	</div>

	

	<ul id="details-pictures-list">
		<li><img src='assets/DSC_0222-6fad0fe438259cd22cf278a5b155aa79ed9ad1dbfc5be237121a70229bf09db3.jpg'></li>
		<li><img src='assets/DSC_0207-b145bc7171f8c356610b9dca9e5ae2e60e42fd9c5fdc5768729e37de7e419b5c.jpg'></li>
		<li><img src='assets/DSC_0202-27073119d6135bdb6ef54c573e9ee824ff1d4d908ad892e868be1cb53490ca9b.jpg'></li>
		<li><img src='assets/DSC_0217-ed03efbd22824e1381aebf00caf0b9e9af7ee1c8b0a2a6ec4a7412856cb8822c.jpg'></li>

	</ul>

	<div id="details">
		<h1 style="text-align: center;">FINALLY!</h1>
		<p>A place where your meat is truly taken care of.</p>
		<p>We at Aladin Halal Meat offer you the most humane option possible when selecting your meat.</p>
		<p>Serving Sharia Board Approved, Zabiha Halal Meat</p>
		<p>100% Hand Slaughtered Meat guaranteed.</p>
		<img src="assets/zabiha-756c0de33db0d74dac79ce232142b706e2bdd9eae7cf198b262891f362be4a8c.png">
	</div>

	<!-- <hr> -->

	<div id="chicken-details">

			<h1>How are our Chickens raised you ask?</h1>
			<img id="chicken" src="assets/chicken-617a397ddde386449e9af4fe3b28f88e5d18e8d1b017c7b65e63c6be4630ef1d.jpg">
			<p>Providing the tastiest chicken possible, all while giving our customers only Organic, Grassfed and GMO-free meat.</p>
			<p>Our chickens are fed <em style="font-size:20px; text-decoration:underline;">certified organic feed</em> for their entire lives. The feed does not contain any animal by-prodcts, antibiotics or gentetically engineered grains.</p>
			<p>Our chickens are raised <em style="font-size:20px; text-decoration:underline;"> cage-free </em> meaning they are raised outside in the farm like all animals should be raised. </p>
		
		</ul>
	</div>

	<!-- <hr> -->

	<div id="reviews">
		<h1>What do poeple have to say about us?</h1>
		<p>"Fresh, fresh, fresh!! Very clean store and their fried chicken beats everyone on Long Island!" <br> <span class="reviewer">-Melzy M.</span> </p>
		<p>"Owners are wonderful, lovely people. Everything tastes so fresh and crisp! Zinger Burger is my favorite!" <br><span class="reviewer">-Shuara Vohra</span></p>
		<p>"Always fresh , owner / staff makes sure accommodation to the fullest love this place" <br><span class="reviewer">-Anca Pasare</span></p>

		<p style="font-size:16px;">-Real reviews taken from Yelp</p>

	</div>

	<!-- <hr> -->

	<div id="rules">
		<h1>What Qualifies Zabiha Halal Meat?</h1>
		<p><span class="reviewer">Allah Almighty has ordered in the Holy Quran</span></p>
		<br>
		يَـٰٓأَيُّهَا ٱلنَّاسُ كُلُواْ مِمَّا فِى ٱلۡأَرۡضِ حَلَـٰلاً۬ طَيِّبً۬ا وَلَا تَتَّبِعُواْ خُطُوَٲتِ ٱلشَّيۡطَـٰنِ‌ۚ إِنَّهُ ۥ لَكُمۡ عَدُوٌّ۬ مُّبِينٌ (ألبقرة ۱۶۸)
		<p><em>O mankind! Eat of that which is lawful and wholesome in the earth, and follow not the footsteps of the devil. Lo! he is an open enemy for you.</em></p>
		<br>
		وَلَا تَأۡڪُلُواْ مِمَّا لَمۡ يُذۡكَرِ ٱسۡمُ ٱللَّهِ عَلَيۡهِ وَإِنَّهُ ۥ لَفِسۡقٌۗ (الانعام ۱۲۱)
		<p><em>And eat not of that whereon Allah’s name hath not been mentioned, for lo! it is abomination.</em></p>
		<br>
		<p><span class="reviewer">Essential Shar’i Conditions for Halāl Zabīha</span><br><br>
		Islam prescribes certain requisites before declaring the meat of an animal to be “Halāl”; permissible for consumption.</p>
		<!-- <br> -->
		<p>The following guidelines need to be strictly implemented in order for it to be “Halāl”:</p>
		<!-- <br> -->
		<p>1. It must be slaughtered as per the following Shar‘i norms:<br>
		<p>a. The neck of the animal should be cut between the throat and the gullet.</p>
		<p>b. While cutting the throat of the animal, it should be ensured that four major veins or blood vessels of the animal have been cut. <br>(Even if only three have been cut, the slaughter would be considered valid).</p>
		<br>
		<p><span class="reviewer">The four veins or blood vessels are:</p></span>
		<p>a. The trachea (wind-pipe) from which air enters the lungs.</p>
		<p>b. The alimentary canal, from which food and water enters the stomach.</p>
		<p>c. The two jugular veins of the neck, which return blood from head to the heart.</p>
		<p>2. The person who is doing the “Zabīha” should be a Muslim, whether man or woman, with or without “Wudhu”. If the man doing the slaughtering belongs to the “People of the Book”, then he should be a staunch follower of his own religion; he should not be an atheist, he should slaughter in the name of Allah and should not take any other name.</p>
		<p>3. The person who is slaughtering should be sane and mentally capable
		At the time of slaughter, the name of “Allah” should be taken.
		<br>Example: “Bismillahi Allahu Akbar”. He should say it orally and not silently within himself.</p>
		<p>4. He should say “Bismillah” with the intention of “Zabīha” and nothing else.</p>
		<p>5. He should not add any other name to “Allah”.</p>
		<p>6. He should slaughter the moment he says “Bismillah”; there should be no delay.</p>
		<p>7. At the time of “Zabīha”, the animal should actually be alive.</p>
		<p>8. If more than one animal is to be slaughtered then separate “Bismillah” should be said for each animal.</p>
		<p>9. The meat of a Non-Zabīha animal or an animal’s meat which has not been slaughtered as per the Shari‘ah, should not be mixed with Zabīha meat in a way that they cannot be differentiated.</p>
		<p>10. While cleaning or processing the meat, the temperature of the water should not be so high, that the heat permeates into the meat.<br>
		The heat has going inside the meat is indicated by the smell of the entrails in the stomach entering the meat.</p>
		<p><em>Note:</em><br><br> Those animals declared as “Halāl”, if they have been slaughtered according to “Zabīha” rules, only then consuming their meat is “Halāl”. If they have not been slaughtered as per Shar‘i norms, then that meat cannot be called “Halāl”, it would be considered as “Carrion” which is “Haram”. It clearly means that there are no separate forms of “Halāl” and “Zabīha” meat in Islam.</p>
		<br>
		<p><span class="reviewer">There are some other things which need to be followed as per Su’nah <br>(i.e. according to the actions of Prophet Mohammed P.B.U.H)</span></p>
		<p>1. The knife should be very sharp.</p>
		<p>2. Water should be poured into the animal’s mouth.</p>
		<p>3. The animal’s face should be turned towards the “Qiblah”</p>
		<p>4. The person doing the slaughtering should face the “Qiblah”</p>
		<p>5. The person should have performed ablution.</p>
		<p>6. The slaughtering should be done with the right hand.</p>
		<p>7. The knife should be used quickly on the throat.</p>
		<p>8. While saying “Bismillah” use the “Zer” at the end. Say “Bismillahi Allahu Akbar”.</p>
		<p>9. The animal should be laid gently on its left side.</p>
		<p>10. The limbs of the big animals like cow, camel, or buffalo should be tied.</p>
		<br>
		<p><span class="reviewer"> Disapproved acts during Sacrificial Slaughter</span></p>
		<p>1. The action of cutting the throat should not be so quick or deep that it severs the neck completely. This is disapproved.</p>
		<p>2. It is “Makruh” to start skinning the animal or severing its head from its body, even before the animal is totally lifeless.</p>
		<p>3. Slaughtering an animal before another animal is also disapproved etc.</p>
		<p>Note	: In addition to the above, if any action takes place against the Shari‘ah in the Slaughter house, it will be asked to desist from doing so.</p>
		<br>

		<p><span class="reviewer">Halāl animal’s organs whose consumption is prohibited</span></p>
		<p>1. Penis</p>
		<p>2. Vagina</p>
		<p>3. Bladder</p>
		<p>4. Glands in the spinal cord (their marrow is “Haram”)</p>
		<p>5. Testes</p>
		<p>6. Bile duct</p>
		<p>7. Blood (fresh or coagulated)</p>
		<p>Compiled from “Fatwa Rahi’mia” Volume 10, Page 80</p>
	</div>




</body>
