<body>


	<ul id="nav">
		<li>MENU</li>
		<li>ABOUT US</li>
		<li>CONTACT</li>
		<li>GALLERY</li>
	</ul>



	<img id="farm" src="assets/far.jpg">


	<div id="details">
		<h1 style="text-align: center;">FINALLY!</h1>
		<p>A place where your meat is truly taken care of. </p>
		<p>We at Aladin Halal Meat offer you the most humane option possible when selecting your meat.</p>
	</div>

	<hr>

	<div id="chicken-details">

			<img id="chicken" src="assets/chicken.jpg">
			<p>Our chicken is the best on the planet</p>
			<p>We keep all of our chickens GMO free and grassfed</p>
			<p>We make sure all our chickens are cage free!</p>
		</ul>
	</div>


</body>
