<body style="background-color: black;">

<h1 style="margin:15px;margin-top:40px;font-family: 'Josefin Sans', sans-serif; font-size: 40px;color: white;text-align: center;text-decoration: underline;">MEAT MENU</h1><br>
<p style="margin:0px;font-family: 'Josefin Sans', sans-serif;color: white;font-size: 40px;text-align: center;
">Always fresh, always tasty.</p>

<hr style="width: 80%;border: 1px solid white;margin:0 auto;margin-top: 10px;">
<p style="margin-top:20px;font-family: 'Josefin Sans', sans-serif;color: red;font-size: 15px;text-align: center;
"><em> All chicken is natural raised and Zabiha compliant.<br>Prices do not include tax.</em></p>

<ul class="menu_section_ul">
	<div class="section_div">
		<h1 class="section_title">MEAT SELECTION</h1>
			<li class="section_item"><p>Whole Chicken:<span class="menu_price">$2.99</span></p>
			</li>
			<li class="section_item"><p>Chicken Breast:<span class="menu_price">$3.99</span></p></li>
			<li class="section_item"><p>Chicken Thigh:<span class="menu_price">$3.89</span></p></li>
			<li class="section_item"><p>Chicken Thigh Keema (Ground):<span class="menu_price">$3.99</span></p></li>
			<li class="section_item"><p>Chicken Legs:<span class="menu_price">$2.49</span></p></li>
			<li class="section_item"><p>Whole Goat:<span class="menu_price">$8.99</span></p></li>
			<li class="section_item"><p>Half Goat:<span class="menu_price">$9.49</span></p></li>
			<li class="section_item"><p>Goat Leg:<span class="menu_price">$10.99</span></p></li>
			<li class="section_item"><p>Front Shoulder:<span class="menu_price">$9.49</span></p></li>
			<li class="section_item"><p>Goat Kalaji:<span class="menu_price">$10.99</span></p></li>
			<li class="section_item"><p>Boneless Beef:<span class="menu_price">$5.49</span></p></li>
			<li class="section_item"><p>Extra Lean Beef:<span class="menu_price">$6.49</span></p></li>
			<li class="section_item"><p>Beef With Bone:<span class="menu_price">$4.49</span></p></li>
	</div>
</ul>


</body>