ul {
	padding: 0px;
}

body {
	margin: 0px;
}

h1 {
	font-family: 'Slabo 27px';
}

p {
	font-family: 'Slabo 27px';

}

#farm {
	margin-left: 110px;
}

#chicken-details img {
	width: 30%;

}

#chicken-details {
	text-align: center;
	padding-top: 10px;
	margin-left: 300px;
}


#chicken-details p:nth-child(4) {
	/*padding-bottom: 30px;*/
}




#nav {
	background-color: white;
	width: 13%;
	height: 1000px;
	position:fixed;
	color: green;
		font-family: 'Slabo 27px';

	margin-top: 0px;
	/*border-right: 1px solid green;*/

}

#nav li {
	padding-left: 60px;
	padding-bottom: 20px;
	font-size: 20px;
}

#nav li:nth-child(1) {
	padding-top: 40px;
}

#details {
	margin-left: 300px;
	padding-bottom: 20px;
}

#details img {
	margin: 0 auto;
	display: block;
	/*text-align: center;*/
}

#details h1 {
			text-align: center;
		font-size: 60px;
		margin-bottom: 0px;
}

#details p {
	text-align: center;
	padding-bottom: 20px;
	/*margin: 0px;*/
}

#rules {
	text-align: center;
	margin-left: 300px;
}






